{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS prototyping
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Child arrangements and family injunction",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/C100_Feedback/?pageurl=X " target="_blank">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>



<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/accountdashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="respondenttasklist/speakwithcafcass.html">Case overview</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="makeapplication">Make an application about your case</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<!-- https://design-system.service.gov.uk/styles/layout/-->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
<!-- Left column-->
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Make an application using form C79</h1>

   

        <p class="govuk-body">You are applying to the court to enforce a child arrangements order.</p>

        <p class="govuk-body">You must fill in form C79 with details of your request.</p>
   
        <p class="govuk-body">Download and fill in form C79. Once completed, you can add it to your case using your dashboard. Go to <a href="/respondenttasklist/yourdocuments/uploadv1/uploaddocumentsv1" class="govuk-link">Upload documents, statements and applications</a></p>


        <!-- https://design-system.service.gov.uk/components/button/ -->
        
        <!-- NB1- use this if you have ARE NOT using logic and delete the below -->
        <div class="govuk-button-group govuk-!-margin-top-9">
        
        <a href="https://www.gov.uk/government/publications/form-c79-application-related-to-enforcement-of-a-child-arrangement-order" target="_blank" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Download form
        </a>
        
        <a class="govuk-link" href="applicanttasklist/appserved.html">Return to case overview</a>
        </div>
        
        
<!-- enter all content of the left column before the div below-->
</div>

<!-- right column-->
      <div class="govuk-grid-column-one-third">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Contacts for help
             </span>
           </summary>
           <div class="govuk-details__text">
            
     
            <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>
  
            <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>
  
            <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
    
            <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
           
            <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
     
           </div>
         </details>

<!-- enter all content for the right column before the div below-->      
</div>
    </div>

  </main>
</div>




{% endblock %}