{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
            <form action="physicalapplicant" method="post" novalidate>
            <h1 class="govuk-heading-xl">Allegations of emotional abuse towards the respondent</h1>

            <p class="govuk-body-l">The respondent described the following emotional abuse:</p>
            <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Describe the behaviours you would like the court to be aware of.<h3>
              <p class="govuk-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non mauris ac lacus fermentum facilisis sit amet in dolor. Mauris vel posuere libero. Vestibulum condimentum egestas mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent non mollis quam. Phasellus porttitor quis turpis non iaculis. Phasellus rutrum placerat ultrices. Aenean ultricies elit ultrices quam mattis, eget lobortis lorem pulvinar. Etiam a bibendum quam, eu pharetra enim. Pellentesque tempus libero ipsum, sed eleifend sapien bibendum sed.<p>
            <h3 class="govuk-heading-s">When did this behaviour start and how long did it continue?<h3>
              <p class="govuk-body"> Lorem ipsum dolor sit amet<p>

            <h3 class="govuk-heading-s">Have you ever asked for help from a professional person or agency?<h3>
              <p class="govuk-body">Yes<p>
            <h3 class="govuk-heading-s">Indicate who you sought help from, and what they did to help.<h3>
              <p class="govuk-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non mauris ac lacus fermentum facilisis sit amet in dolor. Mauris vel posuere libero. Vestibulum condimentum egestas mattis.<p>
                </div>

                <div class="govuk-form-group">
                  <h3 class="govuk-heading-m">Respond to the information provided by the respondent <h3>
                    <div id="waste-hint" class="govuk-hint">
                      Give your response to each of the points that were raised by the respondent.
                      </div>
                      <div id="waste-hint" class="govuk-hint">
                        Include any evidence that is relevant to the allegations.
                      </div>
                      <textarea class="govuk-textarea" id="physical-response" name="physical-response" rows="5" aria-describedby="more-detail-hint"></textarea>

                      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" aria-controls="email-conditional">
                              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                I do not wish to respond to the allegations at this time. I understand that I have the option to respond later in court.
                              </label>
                            </div>
                     </div>

                       </div>
            <div class="govuk-!-padding-bottom-2"></div>

             <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">Save and continue
             </button>



          </main>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">

        <ul class="govuk-list">
          <li><a href="https://www.mind.org.uk/help/advice_lines" class="govuk-link" rel="external" target="_blank">Confidential mental health support</a></li>
          <li><a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" class="govuk-link" rel="external" target="_blank">Domestic abuse: Get help</a></li>
          <li><a href="https://www.flows.org.uk/" class="govuk-link" rel="external" target="_blank">FLOWS: Finding Legal Options for Women Survivors</a></li>
          <li><a href="https://www.womensaid.org.uk/" class="govuk-link" rel="external" target="_blank">Women's Aid</a></li>
         <li><a href="https://mensadviceline.org.uk/" class="govuk-link" rel="external" target="_blank">Men's Advice Line</a></li>
         <li><a href="https://www.nspcc.org.uk" class="govuk-link" rel="external" target="_blank">NSPCC: National Society for the Prevention of Cruelty to Children</a></li>

      </ul>

      </div>





      <details class="govuk-details" data-module="govuk-details">
         <summary class="govuk-details__summary">
           <span class="govuk-details__summary-text">
            Contacts for help
            </span>
          </summary>
          <div class="govuk-details__text">
           Ask a question or get any help in any language
           <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

           <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
           <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
           <a href="#" class="govuk-link">Find out about call charges</a>
           <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
          </div>
        </details>
      </div>

</div>



{% endblock %}
