{% extends "layout.html" %}

{% block pageTitle %}
Child arrangement respondent
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->

{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
              Your application has been submitted
            </h1>
            <div class="govuk-panel__body">
              Case number <br><strong>A162527378</strong>
            </div>
          </div>
          <p class="govuk-body-l">Your application has been sent to < Court > .</p>


          <p class="govuk-body">   You have chosen to receive communication from the court by < email / post >. You will receive a < letter from the court > / < confirmation email  to email_address >.</p>
         


          <h2 class="govuk-heading-m">Download a copy of your application</h2>
          <p class="govuk-body">If you cannot open the PDF file on your device, download and install <a href="https://get.adobe.com/uk/reader/" class="govuk-link" rel="external" target="_blank">Adobe Acrobat Reader</a> and try again.</p>
          <div class="govuk-inset-text">
           <p class="govuk-body">A copy of your submitted application will be in your personal dashboard.</p>

          </div>
          <button class="govuk-button" data-module="govuk-button">
            Download your application
          </button>

          <h2 class="govuk-heading-m">Now that you have submitted your application:</h2>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
            <li><a href="https://www.cafcass.gov.uk/" class="govuk-link govuk-link" rel="external" target="_blank">Cafcass</a> or <a href="https://gov.wales/cafcass-cymru" class="govuk-link govuk-link" rel="external" target="_blank">Cafcass Cymru</a> will be in touch with you to conduct the necessary safeguarding checks</li>
            <li>the respondent will receive a copy of your application, and will have the chance to respond to it. You will have an opportunity to read the respondent's comments</li>
            <li>the court will be in touch with you to explain what will happen next and what you will need to do</li>
            <li>if you have informed the court that you need specific adjustments in order to take part in the case, the court will contact you to confirm what has been arranged. If you have not heard from the court within 3 days of the hearing, call 0300 123 711 or email <a href="#" class="govuk-link">customer.service@justice.gov.uk</a></li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">You can also:</p>

          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">

            <li><a href="https://helpwithchildarrangements.service.justice.gov.uk" class="govuk-link">Read more about child arrangements</a></li>
            <li><a href="https://www.gov.uk/find-legal-advice/find-legal-adviser" class="govuk-link">Find an organisation that will help you with your case</a></li>
          </ul>





          <div class="govuk-button-group">



              <input type="hidden" name="answers-checked" value="true">


                <a class="govuk-button govuk-button--secondary" href="../../../applicanttasklist/startreply" data-module="govuk-button">
                  Return to your dashboard
                </a>

          
</main>


      </div>



        <div class="govuk-grid-column-one-third">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
               Contacts for help
               </span>
             </summary>
             <div class="govuk-details__text">
              
       
              <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>
    
              <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>
    
              <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
      
              <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
             
              <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
       
             </div>
           </details>
  
  <!-- enter all content for the right column before the div below-->      
  </div>
      </div>
  
    </main>
  </div>


{% endblock %}
