
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS prototyping
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: "HMCTS",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}
<a href="/accountdashboard.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- https://design-system.service.gov.uk/styles/layout/-->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
<!-- Left column-->
      <div class="govuk-grid-column-two-thirds">
<!-- https://design-system.service.gov.uk/styles/typography/ -->

<!-- https://design-system.service.gov.uk/styles/typography/ -->
<h1 class="govuk-heading-l"><span class="govuk-caption-l">Case number #1636575673018538</span>Case added to your account</h1>


<p class="govuk-body">The case can now be seen on your  child arrangements and family injunction account.</p>


<div class="govuk-!-margin-top-8"></div>

<a href="/respondenttasklist/startreplyB.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button ">
  Save and continue
</a>

      
<!-- enter all content of the left column before the div below-->
</div>

<!-- right column-->
      <div class="govuk-grid-column-one-third">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Contact us for help
             </span>
           </summary>
           <div class="govuk-details__text">
            
     
            <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>
  
            <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>
  
            <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
    
            <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
           
            <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
     
           </div>
         </details>

</div>
    </div>

  </main>
</div>



{% endblock %}
