{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper " id="main-content" role="main">

       <form action="otherissues" method="post" novalidate>
         <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
           <h2 class="govuk-error-summary__title" id="error-summary-title">
             There is a problem
           </h2>
           <div class="govuk-error-summary__body">
             <ul class="govuk-list govuk-error-summary__list">
               <li>
                 <a href="#solicitor">Describe the children have been impacted by drug, alcohol or substance abuse</a>
               </li>

             </ul>
           </div>
         </div>

         <span class="govuk-caption-l">Safety concerns</span>
         <h1 class="govuk-heading-xl">Have the children been impacted by drug, alcohol or substance abuse?</h1>
           <p class="govuk-body">
             This could be abuse that is taking place now, or abuse that occurred in the past.
             </p>
          <p class="govuk-body">
             For example, you think the children are impacted by living with someone who has a substance abuse problem.
           </p>
       <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="proposal-hint">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="drugs-yes" name="drugs" type="radio" data-aria-controls="conditional-yes" checked="checked">
                <label class="govuk-label govuk-radios__label" for="drugs-yes">Yes</label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="proposal-howmany">Describe in a few sentences the nature of the behaviour that you want the court to be aware of. Explain who is involved, and if the behaviour is ongoing. </label>
              <p id="where-do-you-live-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>Describe how the children have been impacted by drug, alcohol or substance abuse
              </p>
              <textarea class="govuk-textarea" id="drugs" name="ndrugs" rows="5" aria-describedby="non-molestation-date-issued"></textarea>

              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="drugs-no" name="drugs" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="drugs-no">No</label>
            </div>
          </div>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-button govuk-button--secondary" href="../../../applicanttasklist/inprogress"  data-module="govuk-button">
            Save and come back later
          </a>

        </div>
      </main>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
