{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="review" method="post" novalidate>
           <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
             <h2 class="govuk-error-summary__title" id="error-summary-title">
               There is a problem on this page
             </h2>
             <div class="govuk-error-summary__body">
               <ul class="govuk-list govuk-error-summary__list">
                 <li>
                   <a href="#solicitor">Enter the help with fees reference number you received when you applied for help with fees</a>
                 </li>
               </ul>
             </div>
           </div>





       <h1 class="govuk-heading-xl">
         You need to apply for help with your child arrangements application fee
       </h1>

       <p class="govuk-body">You need to <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link" rel="external" target="_blank">apply for help with fees (opens in a new tab)</a> before you continue with this child arrangements application.</p>

       <div class="govuk-inset-text">
        <p class="govuk-body">Enter 'C100' when you are asked for your court or tribunal form number.</p>


       </div>

      <p class="govuk-body">After you have applied for help with fees, you will receive a reference number. Add this reference number below to proceed with the child arrangements application.</p>


      <div class="govuk-form-group">
           <h3 class="govuk-heading-m"> Enter your help with fees reference number</h3>

           <span class="govuk-hint" id="steps-solicitor-contact-details-form-dx-number-hint">
            For example, HWF-A1B-23C
          </span>
          <br>
          <div class="govuk-!-padding-bottom-2"></div>
          <div class="govuk-form-group govuk-form-group--error">
            <p id="where-do-you-live-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter the help with fees reference number you received when you applied for help with fees
            </p>
          <input class="govuk-input govuk-input--width-10" id="hwfnumber" name="hwfnumber" type="text" spellcheck="false"></input>

        </div>
      </div>


          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

            <a href="legalrepresentationapplication" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
                Save and come back later
            </a>


       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
