{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="permissions" method="post" novalidate>






       <h1 class="govuk-heading-xl">
         Contact details of Applicant 1
       </h1>


         <div class="govuk-form-group">
           <label for="steps-solicitor-contact-details-form-email-field" class="govuk-label">
             Email address
           </label>
           <input id="steps-solicitor-contact-details-form-email-field" class="govuk-input" type="email" value="" name="steps_solicitor_contact_details_form[email]">



           <div class="govuk-form-group">
             <fieldset class="govuk-fieldset" aria-describedby="reasonable-adjustments-hint">
               <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                 <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                       <div class="govuk-checkboxes__item">
                         <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" aria-controls="telephone-conditional">
                         <label class="govuk-label govuk-checkboxes__label" for="organisation">
                           I cannot provide an email address
                         </label>
                       </div>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="telephone-conditional">
                    <div class="govuk-form-group">
                           <label for="reasonable-adjustment-details" class="govuk-label">Why cannot you provide an email address?</label>
                           <textarea id="reasonable-adjustment-details" class="govuk-textarea" rows="1" name="reasonable-adjustment-details">
                           </textarea>
                         </div>
                         </div>
                      </div>
                    </div>
                    </div>

         <div class="govuk-form-group">
           <label for="steps-solicitor-contact-details-form-phone-number-field" class="govuk-label">
             Telephone number
           </label>
           <input id="steps-solicitor-contact-details-form-phone-number-field" class="govuk-input govuk-!-width-one-half" type="tel" value="" name="steps_solicitor_contact_details_form[phone_number]">

                  </div>









            <div class="govuk-button-group govuk-!-margin-top-6">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
                Save and come back later
              </a>

            </div>


       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
