{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

               <form action="checkanswersreqs" method="post" novalidate>
                 <span class="govuk-caption-l">Reasonable adjustments</span>
                 <h1 class="govuk-heading-xl">As the legal representative for the respondent, do you think there are any factors that may affect your client taking part in  the court proceedings?</h1>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
               <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="otherfactors-yes" name="otherfactors" type="checkbox" value="yes" data-aria-controls="otherfactors-confidential">
                   <label class="govuk-label govuk-checkboxes__label" for="otherfactors-yes">
                     Yes
                   </label>
                 </div>
                 <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="otherfactors-confidential">
                   <div class="govuk-form-group">
                     <label class="govuk-label" for="privatedetails">Give details</label>
                     <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                     </div>
                   </div>


                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" id="otherfactors-no" name="otherfactors" type="checkbox" value="no" >
                   <label class="govuk-label govuk-checkboxes__label" for="otherfactors-no">
                     No
                   </label>
                 </div>


                 <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="otherfactors-dontknow" name="otherfactors" type="checkbox" value="dontknow" >
                  <label class="govuk-label govuk-checkboxes__label" for="otherfactors-dontknow">
                    I don't know
                  </label>
                </div>

              </div>
              </fieldset>

              <br><br>


              </div>





               <button class="govuk-button" data-module="govuk-button" type="submit">
                 Save and continue
               </button>

              </form>
        </main>
      </div>
      </div>





    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
