{% extends "layout.html" %}

{% block pageTitle %}
  Tasklist
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/C100_Feedback/?pageurl=X  " target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/accountdashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/applicanttasklist/caseclosed.html">Case view</a>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

         <main class="govuk-main-wrapper " id="main-content" role="main">


         <h1 class="govuk-heading-xl">
           The other side's allegations of harm and violence
         </h1>

          <p class="govuk-body">Case number #1636575673018538</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">View all documents</h2>
          <p class="govuk-body govuk-!-margin-bottom-7">Read through the application and then respond to the questions about the case</p> !-->




      <ol class="app-task-list">

        <li>

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                24 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">&ltrespondent 1's name&gt allegations of harm and violence</a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                23 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">&ltrespondent 2's name&gt allegations of harm and violence</a>
              </dd>
            </div>





            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                21 June 2021
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">&ltrespondent 3's name&gt allegations of harm and violence</a>
              </dd>
            </div>



          </dl>
        </li>
      </ol>

      <div class="govuk-button-group">


            <div class="govuk-button-group">


              <button class="govuk-button govuk-button--secondary" href="#" onclick="history.back(-1)"  data-module="govuk-button">
                Go back
              </button>

           </div>


      </div>

</main>
    </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Contact us for help
           </span>
         </summary>
         <div class="govuk-details__text">
          
   
          <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>

          <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>

          <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
  
          <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
         
          <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
   
         </div>
       </details>

    </div>
 </div>





{% endblock %}
