{% extends "layout.html" %}

{% block pageTitle %}
  Progress bars
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}


{% block beforeContent %}


<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/accountdashboard.html">Home</a>
    </li>
  </ol>
</div>

{% endblock %}


{% block content %}

<style>
  .govuk-tag { text-transform:none }

  .hmcts-progress-bar-vertical .hmcts-progress-bar__icon {
    height: 45px;
    width: 45px
    ;
}
.hmcts-progress-bar-vertical  {

  width: 107%;
  margin-left:-21px;
}

.hmcts-progress-bar-vertical .hmcts-progress-bar__list::before {

    margin-top: 7px;
}
.hmcts-progress-bar__list-item:first-child::before, .hmcts-progress-bar__list-item:last-child::before  { border-top: 4px solid #fff; margin-top: 7px }
</style>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Sam Richards
      </h1>

  </div>


  <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="hmcts-progress-bar-vertical" role="progressbar">
        <ol class="hmcts-progress-bar__list">
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden"> Step 1: </span>Application submitted</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 2: </span>Cafcass child safety checks</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 3: </span>Response submitted</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 4: </span>Hearings and court orders</span>
          </li>
          <li class="hmcts-progress-bar__list-item">
            <span class="hmcts-progress-bar__icon"></span>
            <span class="hmcts-progress-bar__label"><span class="govuk-visually-hidden">Step 5: </span>Case closed</span>
          </li>
        </ol>
      </div>
      <div class="govuk-!-padding-bottom-4"></div>

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You have not started your application
          </p>
          <p class="govuk-body">Once you have started your application, you have 28 days to submit it or your application will be deleted and you will need to start again. This is for security reasons.</p>

          <p class="govuk-notification-banner__heading">
            <a class="govuk-notification-banner__link" href="../c100/start">Start the application</a>
          </p>


        </div>
      </div>

      <ol class="app-task-list">


        <li>
          <h2 class="app-task-list__section">
             Your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../c100/start" aria-describedby="company-information-status">
                  Your child arrangements application
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--red" id="company-information-status">Not started yet</strong>
            </li>


          </ul>
        </li>







        <li>
          <h2 class="app-task-list__section">
             Your documents
          </h2>
          <ul class="app-task-list__items">



            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="yourdocuments/alldocuments/alldocuments" aria-describedby="risk-of-harm-or-violence">
                  View all documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag govuk-tag--grey" id="submit-pay-status">Not available yet</strong>
            </li>

         </ul>
        </li>




      </ol>

  </div>
  <div class="govuk-grid-column-one-third">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!">


      <h2 class="govuk-heading-m">
        I want to...
      </h2>

      <ul class="govuk-list">



        <li>
          <a class="govuk-link" href="https://helpwithchildarrangements.service.justice.gov.uk" target="_blank">Know more about child arrangements</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://helpwithchildarrangements.service.justice.gov.uk/going-to-court" target="_blank">Know more about attending court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam/" target="_blank">Understand what a Mediation Information & Assessment Meeting (MIAM) is</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/check-legal-aid" target="_blank">Check if I am eligible for Legal Aid</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/get-help-with-court-fees" target="_blank">Check if I am eligible for Help with Fees</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/family-mediation-voucher-scheme" target="_blank">Find out about The Family Mediation Voucher scheme</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/find-legal-advice/find-legal-adviser" target="_blank">Find legal advice</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/represent-yourself-in-court" target="_blank">Read how to represent myself in court</a>
          <div class="govuk-!-padding-bottom-2"></div>
        </li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
        Contacts for help
        </span>
      </summary>
      <div class="govuk-details__text">
       Ask a question or get any help in any language
       <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

       <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
       <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
       <a href="#" class="govuk-link">Find out about call charges</a>
       <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

      </div>
    </details>

  </div>
  </div>










{% endblock %}
