{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">
     <a href="#" onclick="history.back(-1)" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
         <form action="howtosubmit-answer" method="post" novalidate>




         <h1 class="govuk-heading-xl">How would you like to submit your application to court?</h1>

         <p class="govuk-body-l">Your completed application can be sent straight to the court electronically, or you can print it and send it by post if you prefer.</p>


         <div class="govuk-form-group">
           <fieldset class="govuk-fieldset">
             <div class="govuk-radios" data-module="govuk-radios">
               <div class="govuk-radios__item">
                 <input id="howsubmit-yes" class="govuk-radios__input" type="radio" value="Submit electronically" name="howsubmit" aria-controls="howsubmit-conditional">
                 <label for="howsubmit-yes" class="govuk-label govuk-radios__label">Submit electronically</label>
               </div>
               <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="howsubmit-conditional">
                 <div class="govuk-form-group">
                   <label for="steps-application-submission-form-receipt-email-field" class="govuk-label">Enter an email address if you would like to get a confirmation</label>

                   
                   <div class="govuk-!-padding-bottom-2"></div>
                   <input class="govuk-input govuk-input--width-10" id="email" name="email" type="text" spellcheck="false"></input>
                 </div>
               </div>
               <div class="govuk-radios__item">
                 <input id="howsubmit-no" class="govuk-radios__input" type="radio" value="Print and send by post" name="howsubmit">
                 <label for="howsubmit-no" class="govuk-label govuk-radios__label">Print and send by post</label>
               </div>
             </div>
            </fieldset>
          </div>

          <form action="legalerror" method="post" novalidate>
            <div class="govuk-button-group govuk-!-margin-top-6">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
              <a class="govuk-button govuk-button--secondary" href="../../applicanttasklist/inprogress"  data-module="govuk-button">
                Save and come back later
              </a>

            </div>
          </form>


       </main>


    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
 			 <summary class="govuk-details__summary">
   			 <span class="govuk-details__summary-text">
    		  Contacts for help
  			  </span>
  			</summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
			  </div>
			</details>
    </div>
</div>



{% endblock %}
