{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement
{% endblock %}


{% block header %}

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">


      
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Completing your application</h1>

        <p class="govuk-body">You can complete this application online or by post.</p>
        <p class="govuk-body">At the end of the application process you will need to pay a court fee of £232.</p>
        <p class="govuk-body">The payment will be taken at the end of the process, when you submit your application.</p>

        <!-- https://design-system.service.gov.uk/styles/typography/ -->
        <h3 class="govuk-heading-s">Get help paying court fees</h3>

        <p class="govuk-body">You may be able to get help with some or all of your court fees depending on your savings, income and benefits.</p>

        <p class="govuk-body">If you apply for help with fees a payment will not be taken when you submit the application.</p>

        <p class="govuk-body">Check the <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link" rel="external" target="_blank"> help with fees guidance on GOV.UK </a>to find out if you meet the criteria and apply for support.</p>



<!-- Radio buttons -->

<!-- https://design-system.service.gov.uk/components/button/ -->

<!-- NB1- use this if you have ARE NOT using logic and delete the below -->
<div class="govuk-button-group govuk-!-margin-top-9">

<a href="/idam/payonline.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>

<a class="govuk-link" href="/index.html">Cancel</a>
</div>


<!-- NB2- use this if you have ARE using logic and delete the above -->

      </div>


      <!-- Right side column -->
      
      <div class="govuk-grid-column-one-third">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contacts for help
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body"> Ask a question or get any help in any language</p>
        
                    <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>
                    <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
                    <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
                    <a href="#" class="govuk-link">Find out about call charges</a>
                    <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
          </div>
        </details>
    </div>

  </main>
</div>


{% endblock %}
