{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement
{% endblock %}


{% block header %}

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

 
      
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- https://design-system.service.gov.uk/styles/typography/ -->
        <h1 class="govuk-heading-xl">Check your email</h1>

        <p class="govuk-body">We’ve sent a confirmation email to [email_address]. Follow the instructions to finish creating your account.</p>

        <h2 class="govuk-heading-m">Can't see the email?</h2>

        <p class="govuk-body">It can take a few minutes to arrive. Check your junk mail if you cannot see it in your inbox.</p>

        <p class="govuk-body">If you still cannot see it <a href="/idam/newaccount" class="govuk-link">enter your details again</a>.</p>

</div>


      </div>


  </main>
</div>


{% endblock %}
