{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="/applicanttasklist/aboutyou/contactpreferences/contactemailpost.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <form action="contactemail" method="post" novalidate>

      <!-- text section -->
      
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Case number #1636575673018987</span>
        <h1 class="govuk-heading-l">Contact preferences updated</h1>




  

<p class="govuk-body">You will receive updates on the case digitally and by post.</p>



<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    If you cannot find the emails in your inbox, check your 'spam' folder.
  </strong>
</div>


</form> 


       
<!-- buttons -->

<div class="govuk-button-group govuk-!-margin-top-8" >


  <a href="/applicanttasklist/appserved" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
  </a>


</div>


      </div>


      <!-- Right side column -->
      
      <div class="govuk-grid-column-one-third">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contacts for help
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body"> Ask a question or get any help in any language</p>
        
                    <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>
                    <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
                    <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
                    <a href="#" class="govuk-link">Find out about call charges</a>
                    <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>
          </div>
        </details>
    </div>

  </main>
</div>



{% endblock %}
