{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}


{% block beforeContent %}

<a href="#" class="govuk-back-link" onclick="history.back(-1)">Back</a>
{% endblock %}
{% block content %}

<!-- https://design-system.service.gov.uk/styles/layout/-->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
<!-- Left column-->
      <div class="govuk-grid-column-two-thirds">

<!-- https://design-system.service.gov.uk/styles/typography/ -->
<h1 class="govuk-heading-l"><span class="govuk-caption-l">Upload documents</span>You need permission to submit extra documents</h1>

<!-- https://design-system.service.gov.uk/styles/typography/ -->
<p class="govuk-body">To submit documents the court has not requested, you must complete a C2 application. Select ‘Continue’ to submit the online C2 form or you can <a href="https://www.gov.uk/government/publications/form-c2-application-for-permission-to-start-proceedings-for-an-order-or-directions-in-existing-proceedings-to-be-joined-as-or-cease-to-be-a-part" target="_blank" class="govuk-link">download and complete the C2 paper form</a>.</p>
      
<p class="govuk-body">You can post the completed C2 paper form to the court or upload it through your case dashboard.</p>
<p class="govuk-body">You may need to pay a fee to submit this application.</p>


<!-- https://design-system.service.gov.uk/components/button/ -->

<!-- NB1- use this if you have ARE NOT using logic and delete the below -->
<div class="govuk-button-group govuk-!-margin-top-9">

<a href="/applicanttasklist/yourdocuments/uploadv1/uploaddocumentsv1.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>
<a class="govuk-link" href="/applicanttasklist/startreply.html">cancel</a>
</div>




<!-- enter all content of the left column before the div below-->
</div>

<!-- right column-->
      <div class="govuk-grid-column-one-third">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Contacts for help
             </span>
           </summary>
     
           <!-- https://design-system.service.gov.uk/styles/typography/ -->
           <h3 class="govuk-heading-s">Get in touch</h3>
     
           <p class="govuk-body">If you'd like to report a problem or have a suggestion to help improve this service for others, get in touch by sending an email to:</p>
     
           
           <a href="#" class="govuk-link">C100applications@justice.gov.uk</a>
     
           <!-- https://design-system.service.gov.uk/styles/typography/ -->
           <p class="govuk-body">this email should only be used for feedback on the digital service.
             We cannot answer any questions about applications that have been submitted. You can <a href="https://ucd-cada-prototype-design.herokuapp.com/darespondenttasklist/start#" class="govuk-link">contact the relevant court</a>if you need to discuss your case..</p>
           </div>
         </details>

<!-- enter all content for the right column before the div below-->      
</div>
    </div>

  </main>
</div>



{% endblock %}
