{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}
{% block beforeContent %}

<a href="#" class="govuk-back-link" onclick="history.back(-1)">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-width-container">


      <form action="/applicanttasklist/yourdocuments/uploadv1/medical/requested.html" method="post" novalidate>

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">Expert reports</span>
        Medical reports
      </h1>



              <div class="govuk-form-group govuk-!-margin-bottom-9">
                <p class="govuk-body">The court order will tell you which documents you need to submit. If you upload a document that has not been requested by the court, the court may decide not to consider it.</p>


                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                      Has the court asked for this document?
                    </h2>
                  </legend>

                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="requested-yes" name="requested" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="requested-yes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="requested-no" name="requested" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="requested-no">
                        No
                      </label>
                    </div>
                  </div>
            </div>






          <!-- end components here -->




          <div class="govuk-button-group">

         

              <input type="hidden" name="answers-checked" value="true">

              <button class="govuk-button" data-module="govuk-button" >Save and continue</button>

            </form>

          </div>



    </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
           Contacts for help
           </span>
         </summary>
   
         <!-- https://design-system.service.gov.uk/styles/typography/ -->
         <h3 class="govuk-heading-s">Get in touch</h3>
   
         <p class="govuk-body">If you'd like to report a problem or have a suggestion to help improve this service for others, get in touch by sending an email to:</p>
   
         
         <a href="#" class="govuk-link">C100applications@justice.gov.uk</a>
   
         <!-- https://design-system.service.gov.uk/styles/typography/ -->
         <p class="govuk-body">this email should only be used for feedback on the digital service.
           We cannot answer any questions about applications that have been submitted. You can <a href="https://ucd-cada-prototype-design.herokuapp.com/darespondenttasklist/start#" class="govuk-link">contact the relevant court</a>if you need to discuss your case..</p>
         </div>
       </details>

    </div>

   </div>















{% endblock %}
