{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/C100_Feedback/?pageurl=X  " target="_blank">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link" onclick="history.back(-1)">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <form action="contactpost" method="post" novalidate>

      <!-- text section -->
      
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Contact preferences</h1>


      <!-- check your answers -->

    

      <h2 class="govuk-heading-m">Personal details</h2>


      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            
            24 Happy Hill<br>Happy End<br>H24 HE

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> address </span>
            </a>
          </dd>
        </div>
      </dl>
      
<!-- text section -->
      

<p class="govuk-body">You have decided to receive updates by post.</p>

<p class="govuk-body">You will no longer receive updates by email. You can still access previous updates through your dashboard.</p>



<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Make sure that your contact details are up to date.
  </strong>
</div>


</form> 


       
<!-- buttons -->

<div class="govuk-button-group govuk-!-margin-top-8">
  <a href="/respondenttasklist/aboutyou/contactpreferences/contactpostsuccess.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Submit
  </a>
  </a>

  <a class="govuk-link" href="/respondenttasklist/startreply">Cancel</a>
</div>


      </div>


      <!-- Right side column -->
      
      <div class="govuk-grid-column-one-third">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Contact us for help
             </span>
           </summary>
           <div class="govuk-details__text">
            
     
            <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>
  
            <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>
  
            <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
    
            <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
           
            <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
     
           </div>
         </details>
    </div>

  </main>
</div>



{% endblock %}
