{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS prototyping
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: "Child arrangements and family injunction",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/C100_Feedback/?pageurl=X  " target="_blank">feedback (opens in a new tab) </a> will help us to improve it.
    </span>
  </p>
</div>

<a href="#" class="govuk-back-link" onclick="history.back(-1)">Back</a>



{% endblock %}

{% block content %}

<form action="/respondenttasklist/yourdocuments/uploadv1/applications/c2hearing/consent.html" method="post" novalidate>


<!-- https://design-system.service.gov.uk/styles/layout/-->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
<!-- Left column-->
      <div class="govuk-grid-column-two-thirds">
<!-- https://design-system.service.gov.uk/styles/typography/ -->

<!-- https://design-system.service.gov.uk/styles/typography/ -->
<h1 class="govuk-heading-l"><span class="govuk-caption-l">Delay or cancel a hearing date</span>Does the other person in the case agree with the date change?</h1>





<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
 
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consent" name="consent" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="consent">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="consent-2" name="consent" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="consent-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>

  <a class="govuk-link" href="/respondenttasklist/startreply.html">Cancel</a>
</div>






</form>





      
<!-- enter all content of the left column before the div below-->
</div>

<!-- right column-->
      <div class="govuk-grid-column-one-third">
               <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             Contacts for help
             </span>
           </summary>
           <div class="govuk-details__text">
            
     
            <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>
  
            <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>
  
            <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
    
            <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
           
            <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
     
           </div>
         </details> 

<!-- enter all content for the right column before the div below-->      
</div>
    </div>

  </main>
</div>

{% endblock %}