
{% extends "layout.html" %}

{% block pageTitle %}
  HMCTS prototyping
{% endblock %}


{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: "HMCTS",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}
{% block beforeContent %}



{% endblock %}






{% set mainClasses = "govuk-main-wrapper--l" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}

<!-- https://design-system.service.gov.uk/styles/layout/-->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
<!-- Left column-->
      <div class="govuk-grid-column-two-thirds">
<!-- https://design-system.service.gov.uk/styles/typography/ -->
<h1 class="govuk-heading-l"><span class="govuk-caption-l">caption text - l</span>heading text- l</h1>

<!-- https://design-system.service.gov.uk/styles/typography/#lists-->
<ul class="govuk-list">
  <li>
    <p class="govuk-body">govuk-body-s</p>
  </li>
  <li>
    <p class="govuk-body">govuk-body-s</p>
  </li>
  <li>
    <p class="govuk-body">govuk-body-s</p>
  </li>
</ul>

        
<!-- https://design-system.service.gov.uk/styles/typography/#lists-->
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
<!-- https://design-system.service.gov.uk/styles/typography/ -->
<h2 class="govuk-heading-m">govuk-heading-m</h2>


<!-- enter all content of the left column before the div below-->
</div>

<!-- right column-->
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">sub-heading right column</h2>
        <p class="govuk-body">body</p>

<!-- enter all content for the right column before the div below-->      
</div>
    </div>

  </main>
</div>




{% endblock %}
