{% extends "layout.html" %}

{% block pageTitle %}
  Upload documents
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block beforeContent %}

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/accountdashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/respondenttasklist/startreply">Case view</a>
    </li>
  </ol>
</div>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <div class="govuk-width-container">


      <main class="govuk-main-wrapper " id="main-content" role="main">
        <form action="/applicanttasklist/startreply" method="post" novalidate>



     <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
       Upload documents
     </h1>

     <p class="govuk-body">Case number #1636575673018538</p>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-5">

     <p class="govuk-body">If the court has asked you to submit further evidence, you can upload documents here.</p>
     <h2 class="govuk-heading-l">Select the type of document</h2>
     <ol class="app-task-list">
       <li>
         <h3 class="app-task-list__section">
            Witness statements and evidence
         </h3>
         <ul class="app-task-list__items">
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="position/requested" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Your position statements
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="requested" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Your witness statements
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Other people's witness statements
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Emails, screenshots, images and other media files
               </a>
             </span>

           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Medical records
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Letters from school
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Tenancy and mortgage agreements
               </a>
             </span>

           </li>
         </ul>
       </li>

       <li>
         <h2 class="app-task-list__section">
            Applications
         </h2>
         <ul class="app-task-list__items">



           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="#" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Previous orders submitted with application
               </a>
             </span>
           </li>

           <!-- <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadc2.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Make an application in existing court proceedings relating to children  (Form C2)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadnofee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Application to vary, extend or discharge an order in existing proceedings (FL403)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadnofee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Accuser: Apply to the court to consider whether to prevent (prohibit) questioning (cross-examination) in person (EX740)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadnofee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Apply to the court to consider whether to prevent (prohibit) questioning (cross-examination) in person (EX741)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Appellant’s notice (N161)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Request for personal service by a court bailiff (D89)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Application related to enforcement of a child arrangements order (C79)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Contempt application  (FC600)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadnofee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Application for a warrant of arrest (FL407)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Ask for certain orders under the Children Act 1989 (C1)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Ask for an order authorising search for taking charge of and delivery of a child (C3)
               </a>
             </span>
           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Ask the court to order someone to give information about where a child is (C4)
               </a>
             </span>
           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="applications/uploadwfee.html" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Ask the court to summon an witness (FP25)
               </a>
             </span>
           </li>

         </ul> -->


       <li>
         <h2 class="app-task-list__section">
            Expert reports
         </h2>
         <ul class="app-task-list__items">
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="medical/requested" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Medical reports
               </a>
             </span>

           </li>

           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Paternity test reports
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Drug and alcohol tests (toxicology)
               </a>
             </span>

           </li>
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Police reports
               </a>
             </span>

           </li>
        </ul>
       </li>

       <li>
         <h2 class="app-task-list__section">
            Other documents
         </h2>
         <ul class="app-task-list__items">
           <li class="app-task-list__item">
             <span class="app-task-list__task-name">
               <a href="" class="govuk-link govuk-link--no-visited-state" aria-describedby="eligibility-status">
                 Other documents
               </a>
             </span>

           </li>
          </ul>
       </li>


     </ol>


 <button class="govuk-button govuk-button--secondary"  data-module="govuk-button">
   Go back
 </button>

       </form>
     </main>
   </div>
 </div>

   <div class="govuk-grid-column-one-third">

     <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
          Contact us for help
          </span>
        </summary>
        <div class="govuk-details__text">
         
  
         <p class="govuk-body govuk-!-font-weight-regular">You can <a href="#" class="govuk-link">contact the relevant court</a> if you need to discuss your case.</p>

         <p class="govuk-body">They cannot give you legal advice or answer questions about applications submitted.</p>

         <p class="govuk-body govuk-!-font-weight-bold">Feedback</p>
 
         <p class="govuk-body govuk-!-font-weight-regular">If you would like to report a problem or have a suggestion to help improve this service, send an email to: <a href="#" class="govuk-link">C100applications@justice.gov.uk</a></p>
        
         <p class="govuk-body">This email should only be used for feedback on the digital service.</p>
  
        </div>
      </details> 

   </div>
</div>















{% endblock %}
